<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gameMarket.Properties.Settings.gameMarketConnectionString"
            connectionString="Data Source=DESKTOP-DJ58KIH\SQLEXPRESS;Initial Catalog=gameMarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>